In [ ]:
import os
from pyhive import hive

# Set python variables from environment variables
username = os.environ['USERNAME']
hive_host = os.environ['HIVE_SERVER2'].split(':')[0]
hive_port = os.environ['HIVE_SERVER2'].split(':')[1]

# create connection
conn = hive.connect(
    host=hive_host,
    port=hive_port
)

# create cursor
cur = conn.cursor()

print(f"your username is {username}")
print(f"you are connected to {hive_host}:{hive_port}")

In [ ]:
import os
import pandas as pd
pd.set_option("display.max_columns", 50)
import matplotlib.pyplot as plt
import warnings
import plotly.express as px
import plotly.graph_objects as go
warnings.simplefilter(action='ignore', category=UserWarning)

In [ ]:
query = """
    create external table trips 
"""
df = cur.exec(query)

## Attributes 

* route_id 
* service_id
* trip_id 
* direction_id 
* trip_headsign
* trip_short_name

In [ ]:
df.head(2)

In [ ]:
df.dtypes

In [ ]:
df['trip_headsign'].unique()

In [ ]:

df.nunique()

In [ ]:
print("Contains NA (or equivalent) values?")
for col in df.columns:
    print(f"\t{col}: {getattr(df, col).isna().any()}")

In [ ]:
print("Top 10 most recurrent values for each column?")
for col in df.columns[:-1]:
    print(f"\t{col}: {getattr(df, col).value_counts().sort_values(ascending=False)[:10].index.tolist()}")