In [121]:
import sys
MODULES_PATH = "../../modules"
if MODULES_PATH not in sys.path:
    sys.path.append(MODULES_PATH)
    
from hive_wrapper import HiveConnection
from utils import get_env_vars

In [122]:
username, _, _ = get_env_vars()
hive_connection = HiveConnection(*get_env_vars())

In [123]:
# all edges table creation
queries = [
    # drop mean tables
    f"""
    DROP TABLE IF EXISTS {username}.avg_delay_tsptype_tspsubtype_dper
    """,
    f"""
    DROP TABLE IF EXISTS {username}.avg_delay_tsptype_dper
    """,
    f"""
    DROP TABLE IF EXISTS {username}.avg_delay_dper
    """,
    f"""
    DROP TABLE IF EXISTS {username}.avg_delay
    """,
    
    # drop std tables
    f"""
    DROP TABLE IF EXISTS {username}.std_delay_tsptype_tspsubtype_dper
    """,
    f"""
    DROP TABLE IF EXISTS {username}.std_delay_tsptype_dper
    """,
    f"""
    DROP TABLE IF EXISTS {username}.std_delay_dper
    """,
    f"""
    DROP TABLE IF EXISTS {username}.std_delay
    """,
    
    # create mean tables
    f"""
    CREATE EXTERNAL TABLE {username}.avg_delay_tsptype_tspsubtype_dper(
        stop_name STRING,
        day_period STRING,
        transport_type STRING,
        transport_subtype STRING,
        mean_arrival_delay DOUBLE
    )
    STORED AS PARQUET
    LOCATION '/user/{username}/delays/avg_delay_tsptype_tspsubtype_dper'
    """,
    f"""
    CREATE EXTERNAL TABLE {username}.avg_delay_tsptype_dper(
        stop_name STRING,
        day_period STRING,
        transport_type STRING,
        mean_arrival_delay DOUBLE
    )
    STORED AS PARQUET
    LOCATION '/user/{username}/delays/avg_delay_tsptype_dper'
    """,
    f"""
    CREATE EXTERNAL TABLE {username}.avg_delay_dper(
        stop_name STRING,
        day_period STRING,
        mean_arrival_delay DOUBLE
    )
    STORED AS PARQUET
    LOCATION '/user/{username}/delays/avg_delay_dper'
    """,
    f"""
    CREATE EXTERNAL TABLE {username}.avg_delay(
        stop_name STRING,
        mean_arrival_delay DOUBLE
    )
    STORED AS PARQUET
    LOCATION '/user/{username}/delays/avg_delay'
    """,
    
    # create std tables
    f"""
    CREATE EXTERNAL TABLE {username}.std_delay_tsptype_tspsubtype_dper(
        stop_name STRING,
        day_period STRING,
        transport_type STRING,
        transport_subtype STRING,
        std_arrival_delay DOUBLE
    )
    STORED AS PARQUET
    LOCATION '/user/{username}/delays/std_delay_tsptype_tspsubtype_dper'
    """,
    f"""
    CREATE EXTERNAL TABLE {username}.std_delay_tsptype_dper(
        stop_name STRING,
        day_period STRING,
        transport_type STRING,
        std_arrival_delay DOUBLE
    )
    STORED AS PARQUET
    LOCATION '/user/{username}/delays/std_delay_tsptype_dper'
    """,
    f"""
    CREATE EXTERNAL TABLE {username}.std_delay_dper(
        stop_name STRING,
        day_period STRING,
        std_arrival_delay DOUBLE
    )
    STORED AS PARQUET
    LOCATION '/user/{username}/delays/std_delay_dper'
    """,
    f"""
    CREATE EXTERNAL TABLE {username}.std_delay(
        stop_name STRING,
        std_arrival_delay DOUBLE
    )
    STORED AS PARQUET
    LOCATION '/user/{username}/delays/std_delay'
    """
]

for query in queries:
    hive_connection.exec(query)

In [124]:
hive_connection.pandas_df(f"select * from {username}.avg_delay_tsptype_tspsubtype_dper").head()

/home/jovyan/work/final-project/notebooks/../modules/hive_wrapper.py:100: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  self.cache[query] = pd.read_sql(query, self.conn)

,avg_delay_tsptype_tspsubtype_dper.stop_name,avg_delay_tsptype_tspsubtype_dper.day_period,avg_delay_tsptype_tspsubtype_dper.transport_type,avg_delay_tsptype_tspsubtype_dper.transport_subtype,avg_delay_tsptype_tspsubtype_dper.mean_arrival_delay
0,"uster, buchholz",evening,bus,b,69.824523
1,"erlenbach zh, chapf",afternoon,bus,b,90.604867
2,"herrliberg, rietli",afternoon,bus,b,62.352387
3,"z端rich, klusplatz",morning,bus,b,75.233689
4,"z端rich, loorenstrasse",prenoon,bus,b,119.986808

In [125]:
hive_connection.pandas_df(f"select * from {username}.avg_delay_tsptype_dper").head()

/home/jovyan/work/final-project/notebooks/../modules/hive_wrapper.py:100: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  self.cache[query] = pd.read_sql(query, self.conn)

,avg_delay_tsptype_dper.stop_name,avg_delay_tsptype_dper.day_period,avg_delay_tsptype_dper.transport_type,avg_delay_tsptype_dper.mean_arrival_delay
0,"z端rich, helmhaus",morning,bus,53.271022
1,"z端rich, sihlquai/hb",prenoon,bus,44.657541
2,"z端rich, museum f端r gestaltung",latenoon,bus,57.334011
3,"schlieren, spital limmattal",afternoon,bus,83.241894
4,"tagelswangen, buckstrasse",latenoon,bus,107.931254

In [126]:
hive_connection.pandas_df(f"select * from {username}.avg_delay_dper").head()

/home/jovyan/work/final-project/notebooks/../modules/hive_wrapper.py:100: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  self.cache[query] = pd.read_sql(query, self.conn)

,avg_delay_dper.stop_name,avg_delay_dper.day_period,avg_delay_dper.mean_arrival_delay
0,"z端rich, saalsporthalle",morning,69.966324
1,"jonen, taverne",prenoon,52.777302
2,"zufikon, emaus",afternoon,91.261469
3,"wermatswil, post",prenoon,66.038642
4,"b端lach, sonnenhof",prenoon,75.602920

In [127]:
hive_connection.pandas_df(f"select * from {username}.avg_delay").head()

/home/jovyan/work/final-project/notebooks/../modules/hive_wrapper.py:100: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  self.cache[query] = pd.read_sql(query, self.conn)

              avg_delay.stop_name  avg_delay.mean_arrival_delay
0                 illnau, wingert                     99.747988
1  z端rich, birch-/glatttalstrasse                     86.426347
2                       stettbach                     48.685057
3                z端rich, hubertus                     82.628606
4   wettswil a.a., strumberg辰cher                     79.446181

In [128]:
hive_connection.pandas_df(f"select * from {username}.std_delay_tsptype_tspsubtype_dper").head()

/home/jovyan/work/final-project/notebooks/../modules/hive_wrapper.py:100: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  self.cache[query] = pd.read_sql(query, self.conn)

,std_delay_tsptype_tspsubtype_dper.stop_name,std_delay_tsptype_tspsubtype_dper.day_period,std_delay_tsptype_tspsubtype_dper.transport_type,std_delay_tsptype_tspsubtype_dper.transport_subtype,std_delay_tsptype_tspsubtype_dper.std_arrival_delay
0,"bachenb端lach, alte post",afternoon,bus,b,87.833981
1,"bonstetten, l辰tten",latenoon,bus,b,121.030377
2,"bonstetten, l辰tten",morning,bus,b,57.750768
3,"bremgarten ag, waage",evening,bus,b,156.236871
4,"buchs zh, linde",morning,bus,b,146.974676

In [129]:
hive_connection.pandas_df(f"select * from {username}.std_delay_tsptype_dper").head()

/home/jovyan/work/final-project/notebooks/../modules/hive_wrapper.py:100: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  self.cache[query] = pd.read_sql(query, self.conn)

,std_delay_tsptype_dper.stop_name,std_delay_tsptype_dper.day_period,std_delay_tsptype_dper.transport_type,std_delay_tsptype_dper.std_arrival_delay
0,"d端bendorf, bahnhof nord",latenoon,bus,104.248974
1,"effretikon, moosburg",latenoon,bus,140.407837
2,"glattbrugg, glatthof",latenoon,bus,184.220882
3,"hausen am albis, heisch",latenoon,bus,239.951972
4,"kloten, bramen",latenoon,bus,80.488220

In [130]:
hive_connection.pandas_df(f"select * from {username}.std_delay_dper").head()

/home/jovyan/work/final-project/notebooks/../modules/hive_wrapper.py:100: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  self.cache[query] = pd.read_sql(query, self.conn)

,std_delay_dper.stop_name,std_delay_dper.day_period,std_delay_dper.std_arrival_delay
0,"b端lach, sonnenhof",prenoon,167.157518
1,"dietlikon, d端bendorferstrasse",evening,103.978102
2,"d辰nikon, rotflue",afternoon,63.677585
3,"embrach, z端rcherstrasse",prenoon,55.772944
4,"hausen am albis, heisch",latenoon,235.475127

In [131]:
hive_connection.pandas_df(f"select * from {username}.std_delay").head()

/home/jovyan/work/final-project/notebooks/../modules/hive_wrapper.py:100: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  self.cache[query] = pd.read_sql(query, self.conn)

              std_delay.stop_name  std_delay.std_arrival_delay
0            geroldswil, grindlen                   220.717430
1                 illnau, wingert                   266.002269
2                       stettbach                    73.486604
3  z端rich, birch-/glatttalstrasse                   121.840268
4                z端rich, hubertus                   162.825505

In [132]:
hive_connection.close()